{% extends "layouts/base.html" %}

{% block content %}

<h3 class="text-center mt-3">About the Site</h3>
<p class="text-center" >This site is all about different businesses in the entire World. It has different categories of people who communicate about thier businesses and advise you on how to become better enterprenuers and expand your businesses in different places.They also advise you on how to organize your ideas into something profitable. </p>

<div class="row">
  <div class="col-lg-6">
    <p class="text-center m-3 justify-content-center bg-dark text-light " >In my earlier article, I have given the step by step instruction for adding static files like css and js files to Python Django we app. Now we will see how to add images to web app. Adding images and other media files is same as adding other static files. Sometime you may need to segregate images in a separate folder. Here, I have followed the steps as in creating & using static files in web app with separate folder.</p>
  </div>

  <div class="col-lg-4">
    <img src="image1.jpg" alt="">
  </div>
</div>
{% endblock content %}

